services:

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: workshop-organizer:latest
    container_name: olympic-games-backend
    ports:
      - "9090:8080"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://db:5432/workshopsdb"
      SPRING_DATASOURCE_USERNAME: workshops_user
      SPRING_DATASOURCE_PASSWORD: oc2024
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: olympic-games-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: workshops_user
      POSTGRES_PASSWORD: oc2024
      POSTGRES_DB: workshopsdb